@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: white;
  background: black;
}

.svg-shadow {
  animation: svg-shadow 1.5s ease-in-out infinite alternate;
}

@keyframes svg-shadow {
  from {
    filter: drop-shadow(0 0 5px #fff) drop-shadow(0 0 15px #e60073)
      drop-shadow(0 0 20px #e60073);
  }

  to {
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 25px #e60073)
      drop-shadow(0 0 40px #e60073);
  }
}
